{
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/standard"],
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "settings": {},
  "globals": {},
  "rules": {
    "block-scoped-var": "error",
    "camelcase": "error",
    "eqeqeq": ["error", "smart"],
    "max-depth": ["warn", 3],
    "max-statements": ["warn", 30],
    "new-cap": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": ["error", "nofunc"]
  }
}
