.audio_only_div {
    z-index: 10;
    color: #ff9494;
    cursor: pointer;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    pointer-events: none;
    opacity: 0.5;
}

#movie_player:active .audio_only_div {
    display:none !important
}

.alert_text {
    position: relative;
    top: 10%;
    text-align: center;
}

/* The switch - the box around the slider */
.show-thumbnail-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.show-thumbnail-switch input {display:none;}

/* The slider */
.show-thumbnail-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.show-thumbnail-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .show-thumbnail-slider {
  background-color: #2196F3;
}

input:focus + .show-thumbnail-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .show-thumbnail-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.show-thumbnail-slider--round {
  border-radius: 34px;
}

.show-thumbnail-slider--round:before {
  border-radius: 50%;
}

.options-container {
  width: 45%;
  margin: 100px auto;
  background-color: #f3f3f3;
  border-radius: 10px;
  min-height: 400px;
}
.options-title{
  text-align: center;
  padding-top: 10px;
}
.show-thumbnail-switch-container {
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.show-thumbnail-switch-container>div {
  height: 24px;
  line-height: 24px;
}
